#common-header{
    width: 90vw;
    margin: auto;
    z-index: 100;
}

.headCont{
    display: grid;
    width: 100%;
    grid-template-rows: auto ;
    grid-template-columns: 33.33% 33.33% 33.33% ;
    align-items: center;
    justify-items: center
}

.siteSymbol{
    max-height: 8vh;
    max-width: 40%;
}


#header-paragraph{
    margin: 0;
    font-size: 4vmin;
}