body{
    margin:0 ;
    overflow-x: hidden;
}
#moviePageDiv{
    display: flex;
    flex-direction: column;
}
.movieCard{
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid;
}
.titleCard{
    width: 20vw;
    display: block;
    padding: 5px;
    text-align: center;
    text-wrap: wrap;
}

.posterImage{
    max-width: 10vw;
}
.desciptionMovie{
    max-width:40vw;
}