body{
    margin:0 ;
    overflow-x: hidden;
}
#movieDiv{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    row-gap: 1vh;
    height: 80vh;
    overflow-y: auto;
    border: 5px solid gold;
}
.movieCard{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    width: 100%;
    align-items: center;
}
.titleCard{
    width: 25%;
    display: block;
    padding: 5px;
    text-align: center;
    text-wrap: wrap;
}

.posterImage{
    max-width: 10%;
}
.desciptionMovie{
    max-width:40vw;
    max-height: 20vh;
    overflow-y: auto;
}
#pageScroll{
    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
}

#creditsScroll{
    display: flex;
    width: 100%;
    overflow-x: auto;
    border: 3px solid green;
}

.personCard{
    min-width: 10%;
    width: 10%;
}

.personImage{
    max-width: 100%;

}