body{
    margin:0 ;
    overflow-x: hidden;
}
#movieDiv{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    row-gap: 1vh;
    height: 80vh;
    overflow-y: auto;
    border: 5px solid gold;
}
.movieCard{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    width: 100%;
    column-gap: 5px;
    align-items: center;
}

.titleCard,.posterImage,.desciptionMovie{
    max-height: 20vh;
    overflow: auto;
}

.titleCard{
    width: 25%;
    display: block;
    padding: 5px;
    text-align: center;
    text-wrap: wrap;
}

.posterImage{
    max-width: 10vw;
}
.desciptionMovie{
    max-width:40vw;
    overflow-y: auto;
}

#pageScroll{
    display: flex;
    column-gap: 5px;
    width: 90vw;
    min-height: 8vh;
    justify-content: space-around;
    align-items: start;
    margin: auto;
    flex-wrap: wrap;
}

#changePageDiv{
    width: 25%;
}


@media screen and (max-width: 992px) {
    #changePageDiv,#timeControlDiv{
        order: -1;
        width: 48%;
    }
    .titleCard{
        width: 35%;
       
    }
    .titleCard h3 {
        font-size: 100%;
    }
    .titleCard h4{
        font-size: 85%;
    }
}
    

#creditsScroll{
    display: flex;
    width: 100%;
    overflow-x: auto;
    border: 3px solid green;
}

.personCard{
    min-width: 10%;
    width: 10%;
}

.personImage{
    max-width: 100%;

}