.topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-area: navBar;
    align-items: center;
    width: 100%;
    height: 4vh;

}

.navPage {
   justify-items: start;
    font-size: 2.5vmin;
    user-select: none;
    order: 2;
}

.navPage:hover {
    font-weight: bold;
}

#active{
    font-weight: bold;
    order: 1;
}